In [3]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 500)
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use(['dark_background'])
import warnings
warnings.filterwarnings('ignore')

In [4]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

print('Train:', df_train.shape)
print('Test:', df_test.shape)

Train: (3000, 23)
Test: (4398, 22)

In [6]:
df_train.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

# NaN

## Train

In [17]:
nan_series = df_train.isna().sum()
nan_df = pd.DataFrame({'features': nan_series.index, 'total': nan_series.values})
nan_df['perc'] = nan_df['total'] / df_train.shape[0]
nan_df.sort_values(['perc'], ascending = False)

                 features  total      perc
1   belongs_to_collection   2396  0.798667
4                homepage   2054  0.684667
17                tagline    597  0.199000
19               Keywords    276  0.092000
11   production_companies    156  0.052000
12   production_countries     55  0.018333
15       spoken_languages     20  0.006667
21                   crew     16  0.005333
20                   cast     13  0.004333
8                overview      8  0.002667
3                  genres      7  0.002333
14                runtime      2  0.000667
10            poster_path      1  0.000333
18                  title      0  0.000000
16                 status      0  0.000000
0                      id      0  0.000000
13           release_date      0  0.000000
9              popularity      0  0.000000
7          original_title      0  0.000000
6       original_language      0  0.000000
5                 imdb_id      0  0.000000
2                  budget      0  0.000000
22                revenue      0  0.000000

In [40]:
drop_cols = ['belongs_to_collection', 'homepage', # many NaNs
             'overview', 'tagline', 'title', 'original_title', # NLP
             'poster_path', 'imdb_id'] # unused

df_train.drop(drop_cols, axis = 1, inplace = True)
df_test.drop(drop_cols, axis = 1, inplace = True)

print('Train:', df_train.shape)
print('Test:', df_test.shape)

Train: (3000, 15)
Test: (4398, 14)

In [41]:
nan_series = df_train.isna().sum()
nan_df = pd.DataFrame({'features': nan_series.index, 'total': nan_series.values})
nan_df['perc'] = nan_df['total'] / df_train.shape[0]
nan_df.sort_values(['perc'], ascending = False)

                features  total      perc
11              Keywords    276  0.092000
5   production_companies    156  0.052000
6   production_countries     55  0.018333
9       spoken_languages     20  0.006667
13                  crew     16  0.005333
12                  cast     13  0.004333
2                 genres      7  0.002333
8                runtime      2  0.000667
0                     id      0  0.000000
1                 budget      0  0.000000
3      original_language      0  0.000000
4             popularity      0  0.000000
7           release_date      0  0.000000
10                status      0  0.000000
14               revenue      0  0.000000

In [70]:
df_train['Keywords'].fillna('[]', inplace = True)
df_train['production_companies'].fillna('[]', inplace = True)
df_train['production_countries'].fillna('[]', inplace = True)
df_train['spoken_languages'].fillna('[]', inplace = True)
df_train['crew'].fillna('[]', inplace = True)
df_train['cast'].fillna('[]', inplace = True)
df_train['genres'].fillna('[]', inplace = True)

df_train['runtime'].fillna(df_train['runtime'].mean().item(), inplace = True)

df_train.isna().sum()

id                      0
budget                  0
genres                  0
original_language       0
popularity              0
production_companies    0
production_countries    0
release_date            0
runtime                 0
spoken_languages        0
status                  0
Keywords                0
cast                    0
crew                    0
revenue                 0
dtype: int64

## Test

In [71]:
nan_series = df_test.isna().sum()
nan_df = pd.DataFrame({'features': nan_series.index, 'total': nan_series.values})
nan_df['perc'] = nan_df['total'] / df_test.shape[0]
nan_df.sort_values(['perc'], ascending = False)

                features  total      perc
11              Keywords    393  0.089359
5   production_companies    258  0.058663
6   production_countries    102  0.023192
9       spoken_languages     42  0.009550
13                  crew     22  0.005002
2                 genres     16  0.003638
12                  cast     13  0.002956
8                runtime      4  0.000910
10                status      2  0.000455
7           release_date      1  0.000227
0                     id      0  0.000000
1                 budget      0  0.000000
3      original_language      0  0.000000
4             popularity      0  0.000000

In [92]:
df_test['Keywords'].fillna('[]', inplace = True)
df_test['production_companies'].fillna('[]', inplace = True)
df_test['production_countries'].fillna('[]', inplace = True)
df_test['spoken_languages'].fillna('[]', inplace = True)
df_test['crew'].fillna('[]', inplace = True)
df_test['cast'].fillna('[]', inplace = True)
df_test['genres'].fillna('[]', inplace = True)

df_test['runtime'].fillna(df_train['runtime'].mean().item(), inplace = True)
df_test['status'].fillna('Released', inplace = True)
df_test['status'].replace('Post Production', 'Released', inplace = True)

df_test['release_date'].fillna('9/10/10', inplace = True)

df_test.isna().sum()

id                      0
budget                  0
genres                  0
original_language       0
popularity              0
production_companies    0
production_countries    0
release_date            0
runtime                 0
spoken_languages        0
status                  0
Keywords                0
cast                    0
crew                    0
dtype: int64

## Merge sets

In [93]:
train_labels = df_train.pop('revenue')
df_full = pd.concat([df_train, df_test], keys = ['train', 'test'])
df_full.shape

(7398, 14)

In [94]:
df_full.head()

         id    budget                                             genres  \
train 0   1  14000000                     [{'id': 35, 'name': 'Comedy'}]
      1   2  40000000  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
      2   3   3300000                      [{'id': 18, 'name': 'Drama'}]
      3   4   1200000  [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...
      4   5         0  [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...

        original_language  popularity  \
train 0                en    6.575393
      1                en    8.248895
      2                en   64.299990
      3                hi    3.174936
      4                ko    1.148070

                                      production_companies  \
train 0  [{'name': 'Paramount Pictures', 'id': 4}, {'na...
      1        [{'name': 'Walt Disney Pictures', 'id': 2}]
      2  [{'name': 'Bold Films', 'id': 2266}, {'name': ...
      3                                                 []
      4                                                 []

                                      production_countries release_date  \
train 0  [{'iso_3166_1': 'US', 'name': 'United States o...      2/20/15
      1  [{'iso_3166_1': 'US', 'name': 'United States o...       8/6/04
      2  [{'iso_3166_1': 'US', 'name': 'United States o...     10/10/14
      3            [{'iso_3166_1': 'IN', 'name': 'India'}]       3/9/12
      4      [{'iso_3166_1': 'KR', 'name': 'South Korea'}]       2/5/09

         runtime                                   spoken_languages    status  \
train 0     93.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released
      1    113.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released
      2    105.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released
      3    122.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
      4    118.0           [{'iso_639_1': 'ko', 'name': '한국어/조선말'}]  Released

                                                  Keywords  \
train 0  [{'id': 4379, 'name': 'time travel'}, {'id': 9...
      1  [{'id': 2505, 'name': 'coronation'}, {'id': 42...
      2  [{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...
      3  [{'id': 10092, 'name': 'mystery'}, {'id': 1054...
      4                                                 []

                                                      cast  \
train 0  [{'cast_id': 4, 'character': 'Lou', 'credit_id...
      1  [{'cast_id': 1, 'character': 'Mia Thermopolis'...
      2  [{'cast_id': 5, 'character': 'Andrew Neimann',...
      3  [{'cast_id': 1, 'character': 'Vidya Bagchi', '...
      4  [{'cast_id': 3, 'character': 'Chun-soo', 'cred...

                                                      crew
train 0  [{'credit_id': '59ac067c92514107af02c8c8', 'de...
      1  [{'credit_id': '52fe43fe9251416c7502563d', 'de...
      2  [{'credit_id': '54d5356ec3a3683ba0000039', 'de...
      3  [{'credit_id': '52fe48779251416c9108d6eb', 'de...
      4  [{'credit_id': '52fe464b9251416c75073b43', 'de...